.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $background-color;

  color: $primary-color;

  &__logo {
    font-family: $secondary-font-bold;
    font-size: $lg-font-size;
    line-height: 100%;
    color: $primary-color;

    transition: $primary-transition;

    cursor: pointer;

    &:hover {
      color: $primary-color-hover;
    }
  }
}