.profile {
  &__background {
    width: 100%;
    border-radius: 2rem;
    background-image: url('/images/nebo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 2rem;
    backdrop-filter: blur(5px);
  }

  &__picture {
    position: absolute;
    top: 12.5rem;
    max-width: 15rem;
    width: 100%;
    border: 3px solid $bg-color;
    border-radius: 100%;
  }

  &__details {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    max-width: 40rem;
    width: 100%;
    padding: 1.5rem 3rem;
    margin: 7rem auto;
    text-align: center;
  }

  &__username {
    font-family: $secondary-font-medium;
    font-size: $lg-font-size;
  }

  &__bio {
    font-family: $primary-font-regular;
    font-size: $xs-font-size;
    color: $color-hover;
  }

  &__button {
    max-height: 4.6rem !important;
    height: 100% !important;
    margin-top: 1rem;
    border: 1px solid $bg-color-lighter !important;
    background-color: $bg-color-light !important;
    color: rgb(0, 169, 0) !important;

    &:hover {
      background-color: rgb(0, 169, 0) !important;
      color: $color-active !important;
    }

    &--secondary {
      color: red !important;

      &:hover {
        background-color: red !important;
        color: $color-active !important;
      }
    }
  }

  &__edit {
    position: absolute;
    top: 23rem;
    margin-left: 10rem;
    padding: 0.75rem 1rem !important;
    border: 1px solid $bg-color-lighter !important;
  }

  &__input {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid $bg-color-lighter;
    border-radius: 10rem;
    background-color: $bg-color-light;
    font-family: $secondary-font-regular;
    font-size: $xs-font-size;
    color: $color-active;
  }

  ion-icon {
    font-size: 2.5rem;
  }
}
