// Width

$search-max-width: 100rem;

// Font-family

$primary-font-regular: "MontserratRegular", sans-serif;
$primary-font-medium: "MontserratMedium", sans-serif;
$primary-font-semibold: "MontserratSemiBold", sans-serif;
$primary-font-bold: "MontserratBold", sans-serif;

$secondary-font-regular: "PoppinsRegular", sans-serif;
$secondary-font-medium: "PoppinsMedium", sans-serif;
$secondary-font-semibold: "PoppinsSemiBold", sans-serif;
$secondary-font-bold: "PoppinsBold", sans-serif;

// Font-size

$xs-font-size: 1.6rem;
$sm-font-size: 1.8rem;
$md-font-size: 2rem;
$xm-font-size: 2.4rem;
$lg-font-size: 3rem;

// Color

$background-color: #000000;
$font-color-active: #ffffff;
$font-color-hover: #c0c0c0;
$font-color-ignore: #929292;

// Transition

$primary-transition: all 0.2s ease-in-out;