.header {
  @include d-flex-prm;
  gap: 1rem;

  padding: 1.5rem 2rem;

  background-color: $bg-color;

  &__logo {
    font-family: $secondary-font-bold;
    font-size: $lg-font-size;
    line-height: 100%;
    color: $color-active;

    transition: $primary-transition;

    cursor: pointer;

    &:hover {
      color: $color-hover;
    }
  }
}