.footer { 
  @include d-flex-prm;

  &__rights {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    width: 30rem;
  }

  &__title {
    font-family: $primary-font-medium;
    font-size: $lg-font-size;
    line-height: 100%;
    color: $color-active;
  }

  &__description {
    font-family: $primary-font-medium;
    font-size: $xs-font-size;
    color: $color-ignore;
  }

  &__project {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 4rem;

    width: 30rem;
  }

  &__logo {
    font-family: $secondary-font-bold;
    font-size: $xl-font-size;
    line-height: 100%;
    color: $color-active;

    transition: $primary-transition;

    cursor: pointer;

    &:hover {
      color: $color-hover;
    }
  }

  &__author {
    font-family: $primary-font-medium;
    font-size: $xs-font-size;
    color: $color-ignore;
  }
  
  &__contacts {
    @include d-flex-prm;
    flex-direction: column;
    gap: 2rem;

    width: 30rem;
  }

  &__links {
    @include d-flex-scn;
    gap: 2rem;
  }

  &__link {
    color: $color-active;

    :hover {
      color: $color-ignore;
    }

    >ion-icon {
      font-size: 6rem;

      transition: $primary-transition;
    }
  }
}