html {
  font-size: 62.5%;
  background-color: #262626;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  max-width: 200rem;
  width: 100%;
  margin: 0 auto;
  background-color: #131313;
  color: #ffffff;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #262626;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #393939;
}

::selection {
  background-color: gray;
}

main {
  margin: 5rem auto;
  padding: 0 2rem;
}

@font-face {
  font-family: "PoppinsRegular";
  font-weight: 400;
  font-style: normal;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(/fonts/Poppins/Poppins-Regular.woff2) format("woff2"), url(/fonts/Poppins/Poppins-Regular.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  font-weight: 500;
  font-style: normal;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(/fonts/Poppins/Poppins-Medium.woff2) format("woff2"), url(/fonts/Poppins/Poppins-Medium.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsSemiBold";
  font-weight: 600;
  font-style: normal;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(/fonts/Poppins/Poppins-SemiBold.woff2) format("woff2"), url(/fonts/Poppins/Poppins-SemiBold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  font-weight: 700;
  font-style: normal;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(/fonts/Poppins/Poppins-Bold.woff2) format("woff2"), url(/fonts/Poppins/Poppins-Bold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "MontserratRegular";
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(fonts/Montserrat/Montserrat-Regular.woff2) format("woff2"), url(/fonts/Montserrat/Montserrat-Regular.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "MontserratMedium";
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(/fonts/Montserrat/Montserrat-Medium.woff2) format("woff2"), url(/fonts/Montserrat/Montserrat-Medium.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "MontserratSemiBold";
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(/fonts/Montserrat/Montserrat-SemiBold.woff2) format("woff2"), url(/fonts/Montserrat/Montserrat-SemiBold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "MontserratBold";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(/fonts/Montserrat/Montserrat-Bold.woff2) format("woff2"), url(/fonts/Montserrat/Montserrat-Bold.woff) format("woff");
  font-display: swap;
}
.heading {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
}
.heading__title {
  font-family: "MontserratBold", sans-serif;
  font-size: 2.8rem;
}
.heading__description {
  font-family: "MontserratMedium", sans-serif;
  font-size: 1.8rem;
  color: #929292;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70rem;
  margin-bottom: 7rem;
  background: url("/images/nebo.jpg") no-repeat;
  background-size: cover;
  border-radius: 2.5rem;
  border: 1px solid #262626;
}
.hero-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10rem;
  border-radius: 2.5rem;
  background: rgba(18, 18, 18, 0.5);
  backdrop-filter: blur(5px);
  text-align: center;
}
.hero-section__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.hero-section__title {
  font-family: "MontserratBold", sans-serif;
  font-size: 5rem;
}
.hero-section__description {
  font-family: "MontserratMedium", sans-serif;
  font-size: 2rem;
  color: #c0c0c0;
}

.layout {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 2rem;
  background-color: #131313;
}
.header__logo {
  font-family: "PoppinsBold", sans-serif;
  font-size: 2.8rem;
  line-height: 100%;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.header__logo:hover {
  color: #c0c0c0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}
.footer__rights {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
}
.footer__title {
  font-family: "MontserratMedium", sans-serif;
  font-size: 2.8rem;
  line-height: 100%;
  color: #ffffff;
}
.footer__description {
  font-family: "MontserratMedium", sans-serif;
  font-size: 1.6rem;
  color: #929292;
}
.footer__project {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 4rem;
  width: 30rem;
}
.footer__logo {
  font-family: "PoppinsBold", sans-serif;
  font-size: 3rem;
  line-height: 100%;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.footer__logo:hover {
  color: #c0c0c0;
}
.footer__author {
  font-family: "MontserratMedium", sans-serif;
  font-size: 1.6rem;
  color: #929292;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
}
.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__link {
  color: #ffffff;
}
.footer__link :hover {
  color: #929292;
}
.footer__link > ion-icon {
  font-size: 6rem;
  transition: all 0.2s ease-in-out;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  height: 70vh;
  font-family: "MontserratBold", sans-serif;
  font-size: 5rem;
}

.anime {
  max-width: 100rem;
  width: 100%;
}
.anime__image {
  max-width: 26rem;
  width: 100%;
  max-height: 37rem;
  height: 100%;
  border: 1px solid #262626;
  border-radius: 2rem;
}
.anime__details {
  display: flex;
  gap: 4rem;
}
.anime__text {
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.7rem;
}
.anime__title {
  margin-bottom: 2rem;
  font-family: "MontserratBold", sans-serif;
  font-size: 2.4rem;
  color: #ffffff;
  line-height: 1.2;
}
.anime__description {
  margin-top: 2rem;
  font-family: "MontserratMedium", sans-serif;
  font-size: 1.6rem;
  color: #c0c0c0;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-y: scroll;
}
.anime__description::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.anime__description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #393939;
}
.anime__description::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.anime__series, .anime__genres {
  color: #c0c0c0;
}
.anime__subtitle {
  display: flex;
  color: #ffffff;
}
.anime__year-section, .anime__status-section, .anime__series, .anime__genres {
  display: flex;
  gap: 0.5rem;
}
.anime__year {
  color: #ffad31;
}
.anime__status {
  color: #ffad31;
}
.anime__status--secondary {
  color: #6f42c1;
}

.navigation {
  display: flex;
  gap: 1rem;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
  width: 100%;
}
.search__input {
  max-width: 100rem;
  width: 100%;
  height: 4.4rem;
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 10rem;
  background-color: #262626;
  font-family: "MontserratMedium", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  outline: none;
}
.search__input::-webkit-input-placeholder {
  color: #929292;
}
.search__button {
  position: absolute;
  right: 1.5rem;
  border: none;
  background-color: transparent;
}
.search__button > ion-icon {
  font-size: 2.5rem;
  color: #929292;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.search__button > ion-icon:hover {
  color: #ffffff;
}

.button {
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 10rem;
  background-color: #ffffff;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.8rem;
  color: #131313;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: #c0c0c0;
}
.button--secondary {
  padding: 1rem 2rem;
  background-color: #262626;
  font-size: 1.6rem;
  color: #929292;
}
.button--secondary:hover {
  background-color: #393939;
  color: #ffffff;
}
.button--secondary--active {
  align-self: center;
  padding: 1rem 2rem;
  border-radius: 10rem;
  background-color: #ffffff;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.6rem;
  color: #131313;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.card {
  position: relative;
  max-width: 26rem;
  width: 100%;
  max-height: 37rem;
  height: 100%;
  border-radius: 2rem;
  background-color: #262626;
  transition: all 0.2s ease-in-out;
}
.card__image {
  max-width: 26rem;
  width: 100%;
  max-height: 37rem;
  height: 100%;
  filter: saturate(150%);
  border: 1px solid #262626;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}
.card__details {
  position: absolute;
  bottom: 0rem;
  display: flex;
  justify-content: space-between;
  max-width: 26rem;
  width: 100%;
  max-height: 37rem;
  height: 100%;
  display: none;
}
.card__status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-color: #6f42c1;
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
}
.card__status--secondary {
  background-color: #ffad31;
}
.card__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
}
.card__title {
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  line-height: 1.2;
  transition: all 0.2s ease-in-out;
}
.card__description {
  display: flex;
  gap: 1.5rem;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.4rem;
  color: #c0c0c0;
}
.card__year {
  color: #ffad31;
}
.card:hover {
  transform: scale(1.05);
}
.card:hover .card__image {
  border: 1px solid #ffffff;
  filter: saturate(400%);
  opacity: 0.1;
}
.card:hover .card__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__container {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.loader-inner {
  height: 60px;
  margin: auto;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 100%;
  width: 100px;
}

.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 0%, 100%);
  height: 90px;
  width: 90px;
  top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(0, 0%, 79%);
  height: 76px;
  width: 76px;
  top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(0, 0%, 46%);
  height: 62px;
  width: 62px;
  top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(0, 0%, 16%);
  height: 48px;
  width: 48px;
  top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(0, 0%, 11%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.swiper {
  height: 100%;
  width: 100%;
  margin: 7rem 0 5rem;
}
.swiper__slide {
  height: 100%;
  max-width: 92.6rem;
  width: 100%;
  border-radius: 2rem;
  background-color: #262626;
  transition: all 0.2s ease-in-out;
  transform: scale(0.9) !important;
}
.swiper__slide:hover {
  background-color: #393939;
}
.swiper__slide--active {
  background-color: #393939;
  transform: scale(1) !important;
}
.swiper__link {
  display: flex;
  width: 100%;
}
.swiper__image {
  max-width: 35rem;
  width: 100%;
  border: 1px solid #262626;
  border-radius: 2rem;
  filter: saturate(150%);
}
.swiper__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}
.swiper__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  gap: 3rem;
}
.swiper__title {
  font-family: "MontserratBold", sans-serif;
  font-size: 2.2rem;
  color: #ffffff;
}
.swiper__description {
  font-family: "MontserratRegular", sans-serif;
  font-size: 1.7rem;
  color: #c0c0c0;
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.swiper__stats {
  display: flex;
  flex-direction: column;
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 1.7rem;
  color: #c0c0c0;
}
.swiper__subtitle {
  color: #ffffff;
}
.swiper__year-status {
  display: flex;
  gap: 1rem;
  color: #ffad31;
}
.swiper__genres {
  color: #c0c0c0;
}
.swiper__button--first, .swiper__button--second {
  position: absolute;
  top: calc(50% - 6rem);
  padding: 2rem 1.3rem;
  border: none;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(15px);
  background: hsla(258, 4%, 55%, 0.32);
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
.swiper__button--first:hover, .swiper__button--second:hover {
  transform: scale(1.2);
}
.swiper__button--first {
  left: 0;
  margin-left: 4rem;
}
.swiper__button--second {
  right: 0;
  margin-right: 4rem;
}
.swiper__arrow {
  width: 2.5rem;
}

.iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 10rem;
  padding-top: 56.25%;
  border-radius: 2rem;
}
.iframe__player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */