.auth {
  position: relative;

  height: 80vh;

  max-width: 35rem;
  width: 100%;

  margin: auto;

  text-align: center;

  &__wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 4rem;

    width: 100%;

    padding: 4rem 2rem;

    border-radius: 2.2rem;

    background-color: $bg-color-light;
  }

  &__title {
    font-family: $primary-font-medium;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__input {
    background-color: $bg-color !important;

    &::-webkit-input-placeholder {
      color: $color-hover !important;
    }
  }

  &__processess {
    display: flex;
    flex-direction: column;

    font-family: $primary-font-medium;
    font-size: $xxs-font-size;
  }

  &__button {
    width: 100%;

    margin-top: 2rem;
  }

  &__nav {
    display: flex;
    gap: 1rem;
    align-self: center;

    margin-top: 2rem;
  }

  &__link {
    color: rgb(66, 94, 255);
  }

  &__error {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-top: 2rem;
  }

  &__message {
    font-family: $primary-font-medium;
    font-size: $xxs-font-size;
    color: red;
    text-align: start;
  }
}
